Client/KtvStudio/KtvStudio/Connected Services/RoomInfoService/MEX4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirConditionerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectorNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LCDTVNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MicroPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PowerAmplifierNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SongDeskNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoundNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomInfo" nillable="true" type="tns:RoomInfo" />
  <xs:complexType name="StaffInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRecord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaffInfo" nillable="true" type="tns:StaffInfo" />
</xs:schema>