Client/KtvStudio/KtvStudio/Connected Services/SongInfoService/MEX3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DubbingUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MVUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusicNameInitials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SingerId" type="xs:int" />
      <xs:element minOccurs="0" name="SingerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongInfo" nillable="true" type="tns:SongInfo" />
  <xs:complexType name="SingerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SingerClickNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerEnglishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerInitials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerIntroduce" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerNationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerOtherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerPhotoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SingerSex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SingerInfo" nillable="true" type="tns:SingerInfo" />
</xs:schema>